<div class="prod-list-container">
    <h2>Shopping cart</h2>
    {{#each model.data as |prodIndex|}}
        <div class="product-item">
            <h3>{{prodIndex.prodTitle}}</h3>
            <p><img src="{{prodIndex.prodImage}}"/></p>
            <h4>Description</h4>
            <p>{{prodIndex.desc}}</p>
            <h3>Price</h3>
            <p>£ {{prodIndex.price}}</p>
            <button id="addToCart" {{ action 'addToCart' prodIndex.prodId }}>Add Product</button>
        </div>
    {{/each}}
</div>
{{yield}}