<h2>Two Way Binding Example</h2>
<p>To change the First Name type it in below :</p>
{{input value=firstName}}
<p>To change the Last Name type it in below :</p>
{{input value=lastName}}
<p>Hello <strong>{{firstName}} {{lastName}}</strong></p>
{{yield}}