<h1>Example APP</h1>
<p>Shows some mini examples of Ember</p>
<ul>
	<li>{{link-to 'Home' 'application'}}</li>
	<li>{{link-to 'Two Way Binding Example' 'twowaybinding'}}</li>
	<li>{{link-to 'Event Driven Example' 'eventbinding'}}</li>
	<li>{{link-to 'Example of Looping thru an Array' 'looping'}}</li>
	<li>{{link-to 'Example to change the path' 'default'}}</li>
	<li>{{link-to 'Example to use Yielding in templates' 'yields'}}</li>
	<li>{{link-to 'Example API CALL and AJAX' 'api-example'}}</li>
	<li>{{link-to 'Example of a SUB-ROUTE' 'sub-route-example'}}</li>
	<li>{{link-to 'Example Colour Picker to illustrate - DATA DOWN - ACTIONS UP EXAMPLE' 'color-picker'}}</li>
	<li>{{link-to 'Example of Click Counter' 'click-adder-comp'}}</li>
	<li>{{link-to 'Example of Life Cycle Hooks' 'life-cycle-example'}}</li>
	<li>{{link-to 'Example Shopping Cart' 'shopping-cart'}}</li>
</ul>
{{outlet}}